<div class="row">
      <!-- <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="well redplum">
              <p><i class="icon-phone contact-icon"></i> 012 345 6789</p>
              <p><i class="icon-envelope-alt contact-icon"></i><a href="mailto:email@domain.com">email@domain.com</a></p>
              <a href="#">
                  <p class="social"><i class="icon-facebook"></i></p>
              </a>
              <a href="#">
                  <p class="social"><i class="icon-twitter"></i></p>
              </a>
              <a href="#">
                  <p class="social"><i class="icon-google-plus"></i></p>
              </a>
          </div>

          <div class="darkred well fixed-height hidden-xs">
              <p class="copy">&copy; Chris Tulip</p>
          </div>
      </div> -->
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="blueberry well overflow-show" id="contact">
              <h1>Contact</h1>
              <p>
                Ryan and Jenny teach thier signature style of "Ballusion" a ballet inspired partner fusion as well as specific classes in lift, dips, leans, floor-craft, connection, musicality and more!
              </p>
              <p>
                Hire Ryan and Jenny for private lessons for 1 or 2 people, wedding dances, small group classes or large workshops. Please <a href="mailto:jennydavie21@hotmail.com">email us</a> for rates &amp; availability.
              </p>

              <!--
              <%= form_tag do %>
                <div class="outer-box">
                  <%= text_field_tag('first_name',
                                      nil,
                                      placeholder:'First Name',
                                      class:"input-block-level bordered-input" ) %>
                  <%= text_field_tag('last_name',
                                      nil,
                                      placeholder:'Last Name',
                                      class:"input-block-level bordered-input" ) %>
                  <%= text_field_tag('email',
                                      nil,
                                      placeholder:'Email',
                                      class:"input-block-level bordered-input" ) %>
                  <%= text_field_tag('subject',
                                      nil,
                                      placeholder:'Subject',
                                      class:"input-block-level bordered-input" ) %>
                  <%= text_area_tag('message',
                                      nil,
                                      placeholder:'Message',
                                      class:"input-block-level bordered-input" ) %>

                  <%= submit_tag('Email Us',
                                      class:"btn transparent btn-large pull-right" ) %>
                </div>
              <% end %> -->

          </div>
      </div>
  </div>

