<div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="well redplum">
              <p><i class="icon-phone contact-icon"></i> 012 345 6789</p>
              <p><i class="icon-envelope-alt contact-icon"></i><a href="mailto:email@domain.com">email@domain.com</a></p>
              <a href="#">
                  <p class="social"><i class="icon-facebook"></i></p>
              </a>
              <a href="#">
                  <p class="social"><i class="icon-twitter"></i></p>
              </a>
              <a href="#">
                  <p class="social"><i class="icon-google-plus"></i></p>
              </a>
          </div>

          <div class="darkred well fixed-height hidden-xs">
              <p class="copy">&copy; Chris Tulip</p>
          </div>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 large">
          <div class="blueberry well overflow-show large" id="contact">
              <h1>Contact</h1>
              <%= form_tag do %>
                <div class="outer-box">
                  <%= text_field_tag('first_name',
                                      nil,
                                      placeholder:'First Name',
                                      class:"input-block-level bordered-input" ) %>
                  <%= text_field_tag('last_name',
                                      nil,
                                      placeholder:'Last Name',
                                      class:"input-block-level bordered-input" ) %>
                  <%= text_field_tag('email',
                                      nil,
                                      placeholder:'Email',
                                      class:"input-block-level bordered-input" ) %>
                  <%= text_field_tag('subject',
                                      nil,
                                      placeholder:'Subject',
                                      class:"input-block-level bordered-input" ) %>
                  <%= text_area_tag('message',
                                      nil,
                                      placeholder:'Message',
                                      class:"input-block-level bordered-input" ) %>

                  <%= submit_tag('Email Us',
                                      class:"btn transparent btn-large pull-right" ) %>
                </div>
              <% end %>

          </div>
      </div>
  </div>

