<div class="panel"> <!--Panels for content -->
  <%=render "album" %>
  <%=render "work" %>
</div>

<div class="container-narrow">
  <%=render "menu" %>
  <%=render "header" %>
  <%=render "performances" %>
  <%=render "ryan" %>
  <%=render "jenny" %>
  <%=render "slider_and_albums_link" %>
  <%=render "teaching_history" %>
  <%=render "contact" %>
</div>

<script type="text/javascript">init();</script>
