


<div class="panel"> <!--Panels for content -->
  <%=render "album" %>
  <%=render "work" %>

</div>
<div class="container-narrow">
  <div class="menu">
      <div class="nav-bar"></div>
      <div class="nav-bar"></div>
      <div class="nav-bar"></div>
  </div>



  <%=render "header" %>
  <%=render "performances" %>
  <%=render "ryan" %>
  <%=render "jenny" %>
  <%=render "slider_and_albums_link" %>


  <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="well no-padding fixed-height click hidden-xs" id="blogtwo"> <!-- click used n clickable items -->
              <div class="bp-post two">
                  <div class="overlay"></div>
                  <div class="title">
                      <h2>Teaching History</h2>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="blog-post-item two">
      <div class="arrow-up right"></div>
      <h2>Ryan Teaching</h2>
      <p>
        Ryan has been teaching Ballet and Fusion dance classes since 2011. In 2012 Ryan created his own style of partner dancing that he coined “Ballusion” which is a combination of ballet partnering (Pas de Deux) and Fusion dance esthetics. He teaches frequently around Washington State at Om Culture Center in Seattle, State Street Fusion in Bellingham as well as other venues in British Columbia and Oregon.
      </p>
      <h2>Jenny Teaching</h2>
      <p>
        With a background in physiotherapy Jenny has been teaching group and one to one exercise programs since 2011, which has greatly contributed to her understanding of how to teach movement. Jenny has taught at several dance socials in the Vancouver area including Blues Café, Fuse as well as Fusion Project events.
      </p>
      <h2>Ryan and Jenny Co-teaching</h2>
      <p>
        Ryan and Jenny give a comprehensive breakdown of both lead and follow roles as well as give individualized feedback to their students. They especially enjoy teaching students how to perform beautiful, safe and creative dance lifts. They strive to make each class informative, challenging and fun! They have taught together at several dance events in Vancouver B.C, Victoria B.C, Bellingham WA, Seattle WA and Portland OR. In 2015 they taught workshop classes at the Bridgetown Fusion Festival, the Vancouver Next Level Fusion Exchange and the Seattle Fusion Festival.
      </p>
  </div>
  <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 large" id="work">
        <div class="well sedgebrown overflow-show large">
            <h1>Work</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed congue odio. Aliquam sed mi id massa faucibus dapibus. Suspendisse et mi felis. Nam ornare orci in tortor tempor porta. Fusce sed dapibus nisi, ut scelerisque ligula. Donec at leo est. Morbi condimentum fermentum tellus, ac mattis felis rutrum vitae.
            </p>
            <div class="outer-box-work"> <!-- changeable in css -->
                <p>
                    Maecenas tellus <span class="bold">design</span> sit amet nunc. <span class="bold">is</span> Integer volutpat condimentum <span class="bold">key</span> ligula id luctus.
                </p>
            </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="imagebg-3 well"> <!-- using css for full div background -->
              <h1>Make ideas become reality.</h1>
          </div>
          <div class="well ecru">
              <p class="big"><i class="icon-quote-left"></i> Consectetur adipiscing elit. Sed ullamcorper ut lorem eu dapibus. Nullam et lobortis orci. <i class="icon-quote-right"></i></p>
              <p class="big">James Doe</p>
          </div>
      </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 click" id="portfolio"> <!-- using .click because its clickable #portfolio is a trigger all changable in the script.js file, no padding lets the portfolio-img be full div -->
      <div class="well no-padding">
          <div class="portfolio-img one"> <!-- uses backstretch.js for full div effect, changable in script.js -->
              <div class="hover-effect effect-one">
                  <p class="text-center">
                      Portfolio Item #1
                  </p>
              </div>
          </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 click" id="portfolio2">
      <div class="well no-padding">
          <div class="portfolio-img two">
              <div class="hover-effect effect-two">
                  <p class="text-center">
                      Portfolio Item #2
                  </p>
              </div>
          </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 click" id="portfolio3">
        <div class="well no-padding">
          <div class="portfolio-img three">
              <div class="hover-effect effect-three">
                  <p class="text-center">
                      Portfolio Item #3
                  </p>
              </div>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-xs click" id="portfolio4">
        <div class="well no-padding">
          <div class="portfolio-img four">
              <div class="hover-effect effect-four">
                  <p class="text-center">
                      Portfolio Item #4
                  </p>
              </div>
          </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-xs click" id="portfolio5">
        <div class="well no-padding">
          <div class="portfolio-img five">
              <div class="hover-effect effect-five">
                  <p class="text-center">
                      Portfolio Item #5
                  </p>
              </div>
          </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-xs click" id="portfolio6">
        <div class="well no-padding">
          <div class="portfolio-img six">
              <div class="hover-effect effect-six">
                  <p class="text-center">
                      Portfolio Item #6
                  </p>
              </div>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-xs click" id="portfolio7">
          <div class="well no-padding">
            <div class="portfolio-img seven">
                <div class="hover-effect effect-seven">
                    <p class="text-center">
                        Portfolio Item #7
                    </p>
                </div>
            </div>
          </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-xs click" id="portfolio8">
          <div class="well no-padding">
            <div class="portfolio-img eight">
                <div class="hover-effect effect-eight">
                    <p class="text-center">
                        Portfolio Item #8
                    </p>
                </div>
            </div>
          </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-xs click" id="portfolio9">
          <div class="well no-padding">
            <div class="portfolio-img nine">
                <div class="hover-effect effect-nine">
                    <p class="text-center">
                        Portfolio Item #9
                    </p>
                </div>
            </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="midplum well hidden-xs">
              <h1>Address</h1>
              <p>Eversage Terrace,</p>
              <p>Springfield,</p>
              <p>United States,</p>
              <p>SP 10014</p>
          </div>
          <div class="well redplum">
              <p><i class="icon-phone contact-icon"></i> 012 345 6789</p>
              <p><i class="icon-envelope-alt contact-icon"></i><a href="mailto:email@domain.com">email@domain.com</a></p>
              <a href="#">
                  <p class="social"><i class="icon-facebook"></i></p>
              </a>
              <a href="#">
                  <p class="social"><i class="icon-twitter"></i></p>
              </a>
              <a href="#">
                  <p class="social"><i class="icon-google-plus"></i></p>
              </a>
          </div>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 large">
          <div class="blueberry well overflow-show large" id="contact">
              <h1>Contact</h1>
              <form id="tab">
                  <div class="outer-box">
                      <input type="text" placeholder="First Name" value="" class="input-block-level bordered-input">
                      <input type="text" placeholder="Last Name" value="" class="input-block-level bordered-input">
                      <input type="text" placeholder="Email" value="" class="input-block-level bordered-input">
                      <input type="text" placeholder="Subject" value="" class="input-block-level bordered-input">
                      <textarea placeholder="Message" rows="3" class="input-block-level bordered-input"></textarea>
                      <button class="btn transparent btn-large pull-right">Create Account</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 fixed-height">
        <div class="darkred well fixed-height">
            <p class="copy">&copy; Sharp One 2013</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 hidden-xs">
        <div class="well no-padding">
            <div id="map"></div>
        </div>
      </div>
  </div>
</div>

<script type="text/javascript">init();</script>
