<!DOCTYPE html>
<html>
<head>
  <title>Dance!</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> <!-- Its not valid html but it works -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Website for Jenny and Ryan" />
  <meta name="author" content="Chris Tulip" />

<!-- Fav and touch icons
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="assets/ico/favicon.png">
 -->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <header id="header-landing">
    <% flash.each do |key, value| %>
      <div class="flash">
        <%= content_tag :h3 , value, class: "text-center #{key}" %>
      </div>
    <% end %>
  </header>

  <%= yield %>

</body>
</html>
